@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  background-color: #fafafa; }

html {
  font-size: 62.5%;
  font-family: "Epilogue", sans-serif; }

#hero-section {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh; }

li {
  list-style-type: none; }

.navbar__list li:hover {
  color: #141414; }

a {
  text-decoration: none;
  color: dimgray;
  font-size: 1.4rem; }

a:hover,
.btn-login:hover,
.btn-register:hover {
  color: #141414; }

.btn {
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer; }

.btn-register,
.btn-login {
  color: dimgray; }

.btn-register {
  border: 0.1rem solid dimgray; }

.btn-register:hover {
  border: 0.1rem solid #141414; }

.overbackground {
  background-color: rgba(20, 20, 20, 0.76); }

.flex {
  display: flex; }

.jc-sb {
  justify-content: space-between; }

.ai-c {
  align-items: center; }

/* ====== DISPLAY / HIDE / ACTIVES ELEMENTS ====== */
/* mobile */
#mobile-navbar {
  display: none; }

.toggle-buttons {
  display: none;
  z-index: 1; }

/* desktop */
.desktop-dropdown-menu {
  display: none; }

/* mobile */
.mobile-dropdown-menu {
  display: none; }

.open {
  display: initial; }

/* actives state */
.active-navbar {
  transform: translateX(0rem) !important;
  transition: 0.3s; }

/* Arrows */
.arrow-down {
  margin-left: 1rem; }

.arrow-active {
  transform: rotate(180deg);
  transition: 0.3s; }

/*====== DESKTOP NAVBAR ====== */
#desktop-navbar {
  padding: 0 4rem;
  height: 7rem;
  position: relative; }

#desktop-navbar-left {
  width: 52.3rem; }

#desktop-navbar-left .navbar__list {
  width: 37.6rem; }

.desktop-dropdown-menu {
  background-color: #ffffff;
  position: absolute;
  top: 7rem; }

.desktop-dropdown-item {
  padding: 0 2.5rem;
  margin-top: 2rem;
  display: flex; }

.desktop-dropdown-item:first-of-type {
  margin-top: 2.4rem; }

.desktop-dropdown-item:last-of-type {
  margin-bottom: 2.4rem; }

.one {
  left: 11.3rem;
  width: 15.3rem; }
  .one .desktop-dropdown-item img {
    margin-right: 1.5rem; }

.two {
  left: 30.6rem;
  width: 11.6rem; }

/*====== MOBiLE NAVBAR ====== */
#mobile-navbar {
  background-color: #fafafa;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 19rem;
  transform: translateX(24rem);
  transition: 0.3s;
  padding: 2.5rem; }
  #mobile-navbar .navbar__list {
    margin-top: 7rem; }
    #mobile-navbar .navbar__list li {
      margin-bottom: 3rem; }
    #mobile-navbar .navbar__list .mobile-dropdown-menu {
      margin-left: 2rem; }
    #mobile-navbar .navbar__list .mobile-dropdown-menu li {
      display: flex;
      margin-bottom: 2rem;
      margin-left: 2rem; }
    #mobile-navbar .navbar__list .mobile-dropdown-menu li:first-of-type {
      margin-top: 3rem; }
    #mobile-navbar .navbar__list .mobile-dropdown-menu li:last-of-type {
      margin-bottom: 3rem; }
    #mobile-navbar .navbar__list .mobile-dropdown-menu img {
      margin-right: 1rem; }

@media (max-width: 992px) {
  #desktop-navbar-left .navbar__list,
  .buttons {
    display: none; }
  .toggle-buttons {
    display: initial;
    cursor: pointer;
    z-index: 1; }
  /* mobile-navbar */
  #mobile-navbar {
    display: initial; } }
